{% extends 'base.html' %}
{% load filtersvenda %}
{% load define_action %}

{% block 'body' %}
<form id="acoes_vendas_form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class="container">
        {% for conferir_venda in conferir_vendas %}
            {% if conferir_venda.quantidade > 0 %}
                <div class="conferir-acoes-vendas">
                    <div class="left-side">
                        <p>Nome do cliente: {{conferir_venda.nome_cliente}}</p>
                        {% if "Sem Cor" in conferir_venda.label_vendas_get%}
                            <p>Produto: {{conferir_venda.nome_produto}}</p>
                        {% else %}
                            <p>Produto: {{conferir_venda.label_vendas_get}}</p>
                        {% endif %}
                        <div class="input-row">
                            <label for="quantidade">Quantidade:</label> &nbsp;
                            {% if conferir_venda.forma_venda != "Débito" and conferir_venda.forma_venda != "Crédito" %}
                            <label>{{conferir_venda.quantidade}}</label>
                            {% else %}
                            <label>{{conferir_venda.quantidade}}</label>
                            {% endif %}
                        </div>
                        {% if conferir_venda.desconto_total > 0 and conferir_venda.autorizado_por != "0" %}
                        <br>
                        <p>Desconto: <span class="desconto-totalissimo" id="desconto_total_{{forloop.counter}}" data-desconto-total="{{conferir_venda.desconto_total}}">{{conferir_venda.desconto_total}}</span></p>
                        <input type="hidden" class="desconto-totalissimo-input" name="desconto-totalissimo" id="desconto_totalissimo_input{{forloop.counter}}" value="{{conferir_venda.desconto_total}}">
                        {% elif conferir_venda.desconto_total > 0 and conferir_venda.autorizado_por == "0" %}
                        <p>Desconto: <span class="desconto-total" id="desconto_total_{{forloop.counter}}">{{conferir_venda.desconto_total}}</span></p>
                        <input type="hidden" class="desconto-total-input" name="desconto-total[]" id="desconto_total_input{{forloop.counter}}" value="{{conferir_venda.desconto_total}}">
                        {% else %}
                        <input type="hidden" class="desconto-total-input" name="desconto-total[]" id="desconto_total_input{{forloop.counter}}" value="{{conferir_venda.desconto_total}}">
                        {% endif %}
                        <p>Preço: R$ <span class="preco-venda-total" id="preco_venda_total_{{forloop.counter}}">{{conferir_venda.preco_venda_total}}</span>
                            <input type="hidden" class="preco-venda-total-input" name="preco-venda-total" id="preco_venda_total_input_{{forloop.counter}}" value="{{conferir_venda.preco_venda_total}}">
                        </p>
                        <input type="hidden" class="autorizado-por-input" name="autorizado_por" id="autorizado_por_{{forloop.counter}}" data-autorizado="{{conferir_venda.autorizado_por}}">
                    </div>
                    <div class="right-side">
                        {% define conferir_venda.slug as slugvenda %}
                        <div class="linha">
                            <a href="{% url 'acoes_vendas_trocar' slugvenda %}" class="btn btn-warning">Trocar</a>
                        </div>
                    </div>
                </div>
                <br>
            {% endif %}
        {% endfor %}
                <br>
                <a href="{% url 'editar_vendas' ano_atual_str %}" class="btn btn-info">Voltar</a>
                <input type="submit" name="Salvar" id="Salvar" value="Salvar" class="btn btn-success" onclick="disableButton()">
            </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    
</script>
{% endblock %}