{% extends 'base.html' %}
{% load define_action %}

{% block 'body' %}
<div class="container">
            <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}

            <br>
            <label>Selecione o nome do produto:</label>
            <select class="form-control" onchange="funcao(this.value)" name="nome_produto" id="nome_produto">
                {% for nome_produto in nome_produtos %}
                <option value="{{nome_produto.nome_produto}}">{{nome_produto.nome_produto}}</option>
                {% endfor %}
            </select>

            <br>

            <label>Quantidade:</label>
            <input class="form-control" type="text" name="quantidade" id="quantidade" placeholder="0">

            <br>

            <label>Peso (KG):</label>
            <input class="form-control" type="text" name="peso" id="peso" placeholder="Exemplo: 0.500 = (500g), 1.000 = (1kg)">

            <br>

            <label>Preço de Compra:</label>
            <input class="form-control" type="text" name="preco_compra" id="preco_compra" placeholder="0">

            <br>

            <input type="submit" id='Enviar' value="Criar" class="btn btn-primary">
            </form>
            
            <hr style="background-color: gray;">

        <form action="" method="GET">
            <div class="row d-flex">
                <div class="col-md">
                    <input class="form-control" type="text" name="nome_produto" placeholder="Nome...">
                </div>

                <div class="col-md">
                    <input class="form-control" type="text" name="preco_min" id="preco_min" placeholder="Preço Mínimo">
                </div>
                
                <div class="col-md">
                    <input class="form-control" type="text" name="preco_max" id="preco_max" placeholder="Preço Máximo">
                </div>
                <div>
                    &nbsp; &nbsp;<input type="submit" value="Filtrar" id="filtrar_add_produto" class="btn btn-success">
                </div>

                {% if user.cargo == "A" or user.cargo == "R" %}
                <div class="col-md">
                    <a class="btn btn-info" id="exportar_add_produto" href="{% url 'export_entrada_produtos' slug%}">Exportar Planilha</a>
                </div>
                {% endif %}
            </div>
        </form>
            <br>
        <div class="listar_produtos">
            <div class="row">
            <div>

            </div>
            {% for produto in produtos %}
                <div class="col-md">
                    <div style="background-color: #e0ffff; width: 18rem" class="card" style="width: 18rem;">
                        <div class="card-body">
                            {% if "Sem Cor" in produto.label %}
                                <h5 class="card-title">{{produto.nome_produto}}</h5>
                            {% else %}
                                <h5 class="card-title">{{produto.label}}</h5>
                            {% endif %}
                            <h6 class="card-title">Quantidade em Estoque: {{produto.quantidade}}</h6>
                            {% define produto.slug as slugproduto %}
                            <a href="{% url 'produto' produto.slug %}" class="btn btn-primary">Alterar</a>
                            <a onclick="excluirProduto(`{{slugproduto}}`)" class="btn btn-danger">Excluir</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
            </div>
        </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('#quantidade').mask('000')
        $('#preco_compra').mask('000,00', {reverse: true})
        $('#preco_min').mask('000,00', {reverse: true})
        $('#preco_max').mask('000,00', {reverse: true})
        $('#peso').mask('0.000')
    });

    //Ordenar o nome dos produtos ao carregar a tela
    window.onload = function() {
        //Inicio Nome Produto
        var itensOrdenados = $('#nome_produto option').sort(function (a, b) {
            return a.text < b.text ? -1 : 1;
        });
    
        $('#nome_produto').html(itensOrdenados);
        //Fim Nome Produto
    }

</script>
{% endblock %}