{% extends 'base.html' %}
{% load define_action %}

{% block 'body' %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    
    <br>
    <label>Nome do Novo Produto:</label>
    <input class="form-control" type="text" name="nome_produto" id="nome_produto">
    <br>

    <input type="submit" value="Criar" class="btn btn-primary">
    </form>

    <hr style="background-color: gray;">
    <div class="listar_produtos">
        <div class="row">
        <div>

        </div>
        {% for produto in produtos %}
        <div class="col-md">
            <div style="background-color: #e0ffff; width: 18rem" class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{produto.nome_produto}}</h5>
                    <!-- <a href="#" class="btn btn-primary">Alterar</a> -->
                    {% define produto.slug as slugnomeproduto %}
                    <a onclick="excluirNomeProduto(`{{slugnomeproduto}}`)" class="btn btn-danger">Excluir</a>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){
        $('#nome_produto').on('input', function() { // mascara novo nome
            var nome_produto = $(this).val();
            
            // Aplicar a máscara permitindo letras minúsculas, números, parênteses e hífens
            nome_produto = nome_produto.replace(/[^a-z0-9()\-]/g, '');

            // Limitar o tamanho do nome_produto
            if (nome_produto.length > 30) {
                nome_produto = nome_produto.substr(0, 30);
            }

            $(this).val(nome_produto);
        });
    });
</script>
{% endblock %}