{% extends 'base.html' %}
{% load filtersvenda %}
{% load define_action %}

{% block 'body' %}
<form id="conferir_vendas_form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <br>
        <p>Forma de Pagamento: <span style="display: inline;" id="forma_venda_atual">{{forma_venda}}</span>
            <select required name="alterar_forma_venda" id="alterar_forma_venda" style="display: none; max-width: 90px;">
                <option selected value="Dinheiro">Dinheiro</option>
                <option value="Pix">Pix</option>
                <option value="Credito">Crédito</option>
                <option value="Debito">Débito</option>
            </select>
        <button class="alterarBotao" id="alterarBotao" style="width: 90px;">Alterar</button></p>
        {% for conferir_venda in conferir_vendas %}
        <div class="conferir">
            <div class="left-side">
                <p>Nome do cliente: {{conferir_venda.nome_cliente}}</p>
                {% if "Sem Cor" in conferir_venda.label_vendas_get %}
                    <p>Produto: {{conferir_venda.nome_produto}}</p>
                {% else %}
                    <p>Produto: {{conferir_venda.label_vendas_get}}</p>
                {% endif %}
                <div class="input-row">
                    <label for="quantidade">Quantidade:</label> &nbsp;
                    <input class="form-control quantity-input" type="text" value="{{conferir_venda.quantidade}}" name="quantidade" id="quantidade_{{forloop.counter}}" data-quantidade-padrao="{{conferir_venda.quantidade}}"  data-desconto-base="{{conferir_venda.desconto_total}}">
                </div>
                {% if conferir_venda.desconto_total > 0 and conferir_venda.autorizado_por != "0" %}
                <br>
                <p>Desconto: <span class="desconto-totalissimo" id="desconto_total_{{forloop.counter}}" data-desconto-total="{{conferir_venda.desconto_total}}">{{conferir_venda.desconto_total}}</span></p>
                <input type="hidden" class="desconto-totalissimo-input" name="desconto-totalissimo" id="desconto_totalissimo_input{{forloop.counter}}" value="{{conferir_venda.desconto_total}}">
                {% elif conferir_venda.desconto_total > 0 and conferir_venda.autorizado_por == "0" %}
                <p>Desconto: <span class="desconto-total" id="desconto_total_{{forloop.counter}}">{{conferir_venda.desconto_total}}</span></p>
                <input type="hidden" class="desconto-total-input" name="desconto-total[]" id="desconto_total_input{{forloop.counter}}" value="{{conferir_venda.desconto_total}}">
                {% else %}
                <input type="hidden" class="desconto-total-input" name="desconto-total[]" id="desconto_total_input{{forloop.counter}}" value="{{conferir_venda.desconto_total}}">
                {% endif %}
                <p>Preço a ser Cobrado: R$ <span class="preco-venda-total" id="preco_venda_total_{{forloop.counter}}">{{conferir_venda.preco_venda_total}}</span>
                    <input type="hidden" class="preco-venda-total-input" name="preco-venda-total" id="preco_venda_total_input_{{forloop.counter}}" value="{{conferir_venda.preco_venda_total}}">
                </p>
                <input type="hidden" class="autorizado-por-input" name="autorizado_por" id="autorizado_por_{{forloop.counter}}" data-autorizado="{{conferir_venda.autorizado_por}}">
            </div>
            <div class="right-side">
                {% define conferir_venda.slug as slugvenda %}
                <a onclick="excluirVenda(`{{slugvenda}}`)" style="margin-right: 10px;" class="btn btn-danger">Cancelar</a>
                <!-- <a onclick="confirmarVenda(`{{slugvenda}}`)" class="btn btn-success">Confirmar</a> -->
            </div>
            <input hidden name="label_vendas_get" value="{{conferir_venda.label_vendas_get}}">
            <input type="text" name="cores" style="display: none;" value="{{conferir_venda.cor_id}}">
        </div>
        <br>
        {% endfor %}
        <br>
        <a href="{% url 'vendas_finalizadas' ano_atual_str %}" class="btn btn-info">Voltar</a>
        <input type="submit" name="Salvar" id="Salvar" value="Salvar" class="btn btn-success" onclick="disableButton()">
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.quantity-input').mask('000', { reverse: true }) // quantidade
        // Função para calcular o preço base
        function calcularPrecoBase() {
            $(".quantity-input").each(function() {
                var quantidadeInput = $(this);
                var quantidadePadrao = parseFloat(quantidadeInput.data("quantidade-padrao"));
                var quantidade = parseFloat(quantidadeInput.val().replace(",", "."));
                var autorizado_por = 0; // Valor padrão é 0
                var controleDesconto = 0;
                
                var autorizadoPorInput = quantidadeInput.closest(".conferir").find(".autorizado-por-input");
                if (autorizadoPorInput.length > 0) {
                    autorizado_por = autorizadoPorInput.data("autorizado");
                }

                if (!isNaN(autorizado_por) && autorizado_por === 0) {
                    // O valor é um número e é igual a zero
                } else if (isNaN(autorizado_por)) {
                    controleDesconto = 1;
                } else {
                    // O valor é um número, mas não é igual a zero
                }

                if (controleDesconto === 1) { // Caso tenha desconto_autorizado entre aqui
                    var descontoElemento = quantidadeInput.closest(".conferir").find(".desconto-totalissimo");
                    var desconto_reserva = descontoElemento.text().replace("R$ ", "").replace(",", ".");
                    
                    var descontoTotal = 0;
                    var descontoTotalElement = quantidadeInput.closest(".conferir").find(".desconto-totalissimo");
                    if (descontoTotalElement.length > 0) {
                    descontoTotal = parseFloat(descontoTotalElement.text().replace("R$ ", "").replace(",", "."));
                    }

                    // Obter o valor original do precoVendaTotal do atributo data
                    var precoVendaTotal = parseFloat(quantidadeInput.data("preco-venda-total-base"));

                    // Se o valor original não estiver definido, obter do texto
                    if (isNaN(precoVendaTotal)) {
                    precoVendaTotal = parseFloat(quantidadeInput.closest(".conferir").find(".preco-venda-total").text().replace("R$ ", "").replace(",", "."));
                    quantidadeInput.data("preco-venda-total-base", precoVendaTotal);
                    }

                    // Cálculos
                    var precoBase = quantidade > 0 ? ((descontoTotal + precoVendaTotal) / quantidadePadrao) * quantidade - descontoTotal : 0;

                    // Atualizar preço na tela
                    var precoElement = quantidadeInput.closest(".conferir").find(".preco-venda-total");
                    precoElement.text(precoBase.toFixed(2));

                    // Atualizar valor para enviar ao backend via POST
                    quantidadeInput.closest(".conferir").find(".preco-venda-total-input").val(precoBase.toFixed(2));
                    
                    // Atualizar o valor do campo de entrada oculto com o novo preço calculado
                    var precoInput = quantidadeInput.closest(".conferir").find(".preco-venda-total-input");
                    precoInput.val(precoBase.toFixed(2));

                    if (quantidade <= 0 || isNaN(quantidade)) { // Se a quantidade for vazia ou igual a 0
                        // Atualizar desconto na tela
                        var descontoElement = quantidadeInput.closest(".conferir").find(".desconto-totalissimo");
                        descontoElement.text("R$ 0.00");

                        // Atualizar valor para enviar ao backend via POST
                        quantidadeInput.closest(".conferir").find(".desconto-totalissimo-input").val("0.00");
                    } else {
                        // Atualizar desconto na tela
                        var descontoElement = quantidadeInput.closest(".conferir").find(".desconto-totalissimo");
                        descontoElement.text("R$ " + desconto_reserva);

                        // Atualizar valor para enviar ao backend via POST
                        quantidadeInput.closest(".conferir").find(".desconto-totalissimo-input").val(desconto_reserva);
                    }
                } else { // Caso não tenha desconto_autorizado entre aqui
                    // Obter o valor original do desconto do atributo data
                    var descontoBase = parseFloat(quantidadeInput.data("desconto-total"));

                    // Se o valor original não estiver definido, obter do texto
                    if (isNaN(descontoBase)) {
                        descontoBase = parseFloat(quantidadeInput.closest(".conferir").find(".desconto-total").text().replace("R$ ", "").replace(",", "."));
                        quantidadeInput.data("desconto-total", descontoBase);
                    }

                    // Obter o valor original do precoVendaTotal do atributo data
                    var precoVendaTotalBase = parseFloat(quantidadeInput.data("preco-venda-total"));

                    // Se o valor original não estiver definido, obter do texto
                    if (isNaN(precoVendaTotalBase)) {
                        precoVendaTotalBase = parseFloat(quantidadeInput.closest(".conferir").find(".preco-venda-total").text().replace("R$ ", "").replace(",", "."));
                        quantidadeInput.data("preco-venda-total", precoVendaTotalBase);
                    }

                    // Verificar se o desconto base é igual a zero
                    if (descontoBase === 0 || isNaN(descontoBase)) {
                        descontoBase = 0
                        var precoBase = quantidade > 0 ? (precoVendaTotalBase / quantidadePadrao) * quantidade : 0;
                    } else {
                        // Cálculos considerando o desconto
                        var descontoAtual = quantidade > 0 ? (descontoBase / quantidadePadrao) * quantidade : 0;
                        var precoBase = quantidade > 0 ? ((precoVendaTotalBase + descontoBase) / quantidadePadrao * quantidade - descontoAtual) : 0;
                    }

                    if (descontoBase === 0 || isNaN(descontoBase)) {
                        // Atualizar preço na tela
                        var precoElement = quantidadeInput.closest(".conferir").find(".preco-venda-total");
                        precoElement.text(precoBase.toFixed(2));

                        // Atualizar valor para enviar ao backend via POST
                        quantidadeInput.closest(".conferir").find(".preco-venda-total-input").val(precoBase.toFixed(2));
                    } else {
                        // Atualizar preço na tela
                        var precoElement = quantidadeInput.closest(".conferir").find(".preco-venda-total");
                        precoElement.text(precoBase.toFixed(2));

                        // Atualizar valor para enviar ao backend via POST
                        quantidadeInput.closest(".conferir").find(".preco-venda-total-input").val(precoBase.toFixed(2));

                        // Atualizar desconto na tela
                        var descontoElement = quantidadeInput.closest(".conferir").find(".desconto-total");
                        descontoElement.text(descontoAtual.toFixed(2));

                        // Atualizar valor para enviar ao backend via POST
                        quantidadeInput.closest(".conferir").find(".desconto-total-input").val(descontoAtual.toFixed(2));
                    }
                }
            });
        }

        // Executar a função quando o valor do input quantidade for alterado
        $(".quantity-input").on("input", function() {
            calcularPrecoBase();
        });

        // Executar a função no carregamento da página após um pequeno atraso
        setTimeout(function() {
            calcularPrecoBase();
        }, 100);
    });

    function disableButton() {
        // Desabilita o botão ao clicar em enviar
        document.getElementById("Salvar").disabled = true;

          // Envia o formulário após um pequeno atraso (50ms)
            setTimeout(function() {
                document.getElementById("conferir_vendas_form").submit();
            }, 50);
    }

    document.addEventListener("DOMContentLoaded", function () {
    var alterarBotao = document.getElementById("alterarBotao");
    var formaVendaAtual = document.getElementById("forma_venda_atual");
    var alterarFormaVenda = document.getElementById("alterar_forma_venda");
    
    // Define o valor inicial como "0"
    alterarFormaVenda.value = "0";
    
    // Adiciona um ouvinte de evento para o botão
    alterarBotao.addEventListener("click", function (event) {
        event.preventDefault();

        if (formaVendaAtual.style.display === "inline") {
            formaVendaAtual.style.display = "none";
            alterarFormaVenda.style.display = "inline";
        } else {
            formaVendaAtual.style.display = "inline";
            alterarFormaVenda.style.display = "none";
            
            // Ao reverter para o valor inicial, você pode definir o valor selecionado
            alterarFormaVenda.value = "0";
        }
    });
    
    // Adiciona um ouvinte de evento para o <select> para capturar o valor selecionado
    alterarFormaVenda.addEventListener("change", function () {
        // Obtém o valor selecionado no <select>
        var selectedValue = alterarFormaVenda.value;
        
        // Faça algo com o valor selecionado, se necessário
        console.log("Valor selecionado: " + selectedValue);
    });
});
</script>
{% endblock %}