{% extends 'base.html' %}

{% block 'body' %}
<div class="container">
    <form action="" method="GET">
        <br>
        {% if page.has_other_pages %}
            <div class="btn-group" role="group" aria-label="Item Pagination">
                {% if page.has_previous %}
                    {% if request.GET.nome_cliente or request.GET.nome_produto %}
                        <a class="btn btn-info" href="{% url 'consultar_vendas_geral' slug %}?page={{page.previous_page_number}}&nome_cliente={{request.GET.nome_cliente}}&nome_produto={{request.GET.nome_produto}}&preco_min={{request.GET.preco_min}}&preco_max={{request.GET.preco_max}}&funcionario={{request.GET.funcionario}}&dt_start={{request.GET.dt_start}}&dt_end={{request.GET.dt_end}}">&laquo</a>
                    {% else %}
                        <a class="btn btn-info" href="{% url 'consultar_vendas_geral' slug %}?page={{page.previous_page_number}}&nome_cliente={{request.GET.nome_cliente}}&nome_produto={{request.GET.nome_produto}}&preco_min={{request.GET.preco_min}}&preco_max={{request.GET.preco_max}}&funcionario={{request.GET.funcionario}}&dt_start={{request.GET.dt_start}}&dt_end={{request.GET.dt_end}}">&laquo</a>
                    {% endif %}
                {% endif %}

                {% for page_num in page.paginator.page_range %}
                    {% if request.GET.nome_cliente or request.GET.nome_produto %}
                        {% if page.number == page_num %}
                            <button class="btn btn-outline-primary active">
                                <span>{{ page_num }} (Atual)</span>
                            </button>
                        {% else %}
                            <a href="{% url 'consultar_vendas_geral' slug %}?page={{ page_num }}&nome_cliente={{request.GET.nome_cliente}}&nome_produto={{request.GET.nome_produto}}&preco_min={{request.GET.preco_min}}&preco_max={{request.GET.preco_max}}&funcionario={{request.GET.funcionario}}&dt_start={{request.GET.dt_start}}&dt_end={{request.GET.dt_end}}" class="btn btn-outline-primary">
                            {{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        {% if page.number == page_num %}
                            <button class="btn btn-outline-primary active">
                                <span>{{ page_num }} (Atual)</span>
                            </button>
                        {% else %}
                            <a href="{% url 'consultar_vendas_geral' slug %}?page={{ page_num }}&nome_cliente={{request.GET.nome_cliente}}&nome_produto={{request.GET.nome_produto}}&preco_min={{request.GET.preco_min}}&preco_max={{request.GET.preco_max}}&funcionario={{request.GET.funcionario}}&dt_start={{request.GET.dt_start}}&dt_end={{request.GET.dt_end}}" class="btn btn-outline-primary">
                            {{ page_num }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                
                {% if page.has_next %}
                    {% if request.GET.nome_cliente or request.GET.nome_produto %}
                        <a class="btn btn-info" href="{% url 'consultar_vendas_geral' slug %}?page={{page.next_page_number}}&nome_cliente={{request.GET.nome_cliente}}&nome_produto={{request.GET.nome_produto}}&preco_min={{request.GET.preco_min}}&preco_max={{request.GET.preco_max}}&funcionario={{request.GET.funcionario}}&dt_start={{request.GET.dt_start}}&dt_end={{request.GET.dt_end}}">&raquo</a>
                    {% else %}
                        <a class="btn btn-info" href="{% url 'consultar_vendas_geral' slug %}?page={{page.next_page_number}}&nome_cliente={{request.GET.nome_cliente}}&nome_produto={{request.GET.nome_produto}}&preco_min={{request.GET.preco_min}}&preco_max={{request.GET.preco_max}}&funcionario={{request.GET.funcionario}}&dt_start={{request.GET.dt_start}}&dt_end={{request.GET.dt_end}}">&raquo</a>
                    {% endif %}          
                {% endif %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md">
                <label>Nome do Cliente</label>
                <input class="form-control" type="text" name="nome_cliente_filtro" id="nome_cliente_filtro" value="{{request.GET.nome_cliente}}" placeholder="Nome do Cliente">
            </div>

            <div class="col-md">
                <label>Nome do Produto</label>
                <input class="form-control" type="text" name="nome_produto_filtro" value="{{request.GET.nome_produto}}" placeholder="Nome do Produto">
            </div>

        </div>
        <div class="row">
            <div class="col-md">
                <label>Funcionário</label>
                <input class="form-control" type="text" value="{{request.GET.funcionario}}" name="funcionario" placeholder="Digite o nome do funcionário">
            </div>
            <div class="col-md">
                <label>De</label>
                <input class="form-control" type="date" value="{{request.GET.dt_start}}" name="dt_start">
            </div>

            <div class="col-md">
                <label>Até</label>
                <input class="form-control" type="date" value="{{request.GET.dt_end}}" name="dt_end">
            </div>
        </div>
        <br>
            <input type="submit" value="Filtrar" class="btn btn-success">&nbsp;
            <a class="btn btn-info" href="{% url 'export_csv_finalizadas' %}?nome_cliente={{request.GET.nome_cliente}}&nome_produto={{request.GET.nome_produto}}&preco_min={{request.GET.preco_min}}&preco_max={{request.GET.preco_max}}&funcionario={{request.GET.funcionario}}&dt_start={{request.GET.dt_start}}&dt_end={{request.GET.dt_end}}">Exportar Planilha</a>&nbsp;

    </form>
    <br>
    {% if not vendas %}
    {% else %}
        <h2 class="text-center my-4">VENDAS EM ANDAMENTO</h2>
    {% endif %}
    <div class="produtos-container">
        {% for venda in page.object_list %}
            {% if venda.venda_finalizada == 0 %}
                <div class="produto-card" data-slug="{{ venda.slug }}" data-url="{% url 'consultar_vendas' venda.slug %}" onclick="window.location.href=this.dataset.url;">
                    <h5>Cliente: {{ venda.nome_cliente }}</h5>
                    <p>
                        Dia da venda: {{ venda.data_criacao }}<br><br>
                        <a href="{% url 'consultar_vendas' venda.slug %}" class="btn btn-primary">Visualizar</a>
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}