{% extends 'base.html' %}
{% load static%}

{% block 'body' %}
    <div class="container">
        {% if user.cargo == "A" or user.cargo == "P" or user.cargo == "CF" %} 
            {% if ano_atual_str == data_modelo_1 %}
            <h1>Festa {{ano_atual_str}}</h1>
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <table>
                        {{form.as_table}}
                    </table>
                    <a href="{% url 'cadastrogeral_festa' ano_atual_str %}" class="btn btn-info">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}