{% extends 'base.html' %}

{% block 'body' %}
<h1>Relatório Produtos</h1>
<form action="" method="GET" >
    <div class="col-md">
        <label for="nome_produto">Nome do Produto:</label>
        <input type="text" name="nome_produto" id="nome_produto">
    </div>
    <div class="col-md">
        <label for="dia">Data:</label>
        <input type="date" name="dia" id="dia">
    </div>
    &nbsp;&nbsp; <label for="acao">Qual ação deseja filtrar ?</label>
    <select name="acao" id="acao">
        <option value="" selected disabled>Selecione</option>
        <option value="Entrada">Entrada</option>
        <option value="Saída">Saída</option>
    </select>

    <a class="btn btn-info" style="color: white;" href="{% url 'add_produto' slug %}" class="btnbtn-primary">Voltar</a>
    <button id="btn-submit" type="submit" class="btn btn-success">Pesquisar</button>&nbsp;&nbsp;
    <a class="btn btn-info" href="{% url 'export_csv_produto' slug %}?nome_produto={{request.GET.nome_produto}}&dia={{request.GET.dia}}&acao={{request.GET.acao}}">Exportar Planilha</a>
</form>
<br>
{% if page.has_other_pages %}
    <div class="btn-group" role="group" aria-label="Item Pagination">
        {% if page.has_previous %} <!-- Se existe alguma página antes, mostre Anterior-->
            {% if request.GET.nome_produto or request.GET.dia or request.GET.acao%}
                <a class="btn btn-info" href="{% url 'export_entrada_produtos' slug %}?page={{page.previous_page_number}}&nome_produto={{request.GET.nome_produto}}&dia={{request.GET.dia}}&acao={{request.GET.acao}}">&laquo</a>
            {% else%}
                <a class="btn btn-info" href="{% url 'export_entrada_produtos' slug %}?page={{page.previous_page_number}}">&laquo</a>
            {% endif %}
        {% endif %}

        {% for page_num in page.paginator.page_range %}
            {% if request.GET.nome_produto or request.GET.dia or request.GET.model or request.GET.acao%}
                {% if page.number == page_num %}
                    <button class="btn btn-outline-primary active">
                        <span>{{ page_num }} (Atual)</span>
                    </button>
                {% else %}
                    <a href="{% url 'export_entrada_produtos' slug %}?page={{ page_num }}&nome_produto={{request.GET.nome_produto}}&dia={{request.GET.dia}}&acao={{request.GET.acao}}" class="btn btn-outline-primary">
                        {{ page_num }}</a>
                {% endif %}
            {% else %}
                {% if page.number == page_num %}
                    <button class="btn btn-outline-primary active">
                        <span>{{ page_num }} (Atual)</span>
                    </button>
                {% else %}
                    <a href="{% url 'export_entrada_produtos' slug %}?page={{ page_num }}" class="btn btn-outline-primary">
                        {{ page_num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        
            {% if page.has_next %}<!-- Se existe alguma página depois, mostre Próximo-->
                {% if request.GET.nome_produto or request.GET.dia or request.GET.acao%}
                    <a class="btn btn-info" href="{% url 'export_entrada_produtos' slug %}?page={{page.next_page_number}}&nome_produto={{request.GET.nome_produto}}&dia={{request.GET.dia}}&acao={{request.GET.acao}}">&raquo</a>
                {% else %}
                    <a class="btn btn-info" href="{% url 'export_entrada_produtos' slug %}?page={{page.next_page_number}}">&raquo</a>
                {% endif %}          
            {% endif %}
    </div>
{% endif %}
<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ação</th>
            <th>Nome do Produto</th>
            <th>Quantidade</th>
            <!-- <th>Lucro</th> -->
            <th>Data Criação</th>
            <th>Criado Por</th>
            <th>Última Alteração</th>
            <th>Alterado Por</th>
            <th>Nome da Comunidade</th>
        </tr>
    </thead>
    <tbody>
    {% for log in page.object_list %}<!-- pegando o page.object_list que é a lista de páginas em vez de "for log in logs"-->
        <tr>
            <td>{{ log.acao }}</td>
            <td>{{ log.nome_produto }}</td>
            <td>{{ log.quantidade }}</td>
            <!-- {% if log.acao == "Saída" %}
                <td>{{ log.lucro }}</td>
            {% else %}
                <td> </td>
            {% endif %} -->
            <td>{{ log.data }}</td>
            <td>{{ log.nome_user }}</td>
            {% if log.ultima_alteracao == None %}
                <td> </td>
                <td> </td>
            {% else %}
                <td>{{ log.ultima_alteracao }}</td>
                <td>{{ log.alterado_por }}</td>
            {% endif %}
            <td>{{ log.nome_comunidade }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}