{% extends 'base.html' %}
{% load static%}

{% block 'body' %}
    <div class="container">
        <h1>Produto: {{nome_produto}}</h1>

        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <br>
            <div class="input-row">
                <h6>Abastecer Quantidade:</h6> &nbsp;
                <input class="form-control quantity-input" style="width: 8em;" type="text" name="abastecer_quantidade" id="abastecer_quantidade">
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){
        $('#id_quantidade').mask('000')
        $('#id_preco_compra').mask('000,00', {reverse: true})
        $('#abastecer_quantidade').mask('000')
    });

</script>
{% endblock %}