{% extends 'base.html' %}

{% block 'body' %}
<div class="container">
    <form id="add-aula" action="" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <label>Nome do Cliente:</label>
        <input disabled class="form-control" required type="text" maxlength="30" name="nome_cliente" id="nome_cliente" value="{{nome_cliente_familia}}" placeholder="">
        <br>
        <label>Filtrar Produtos:</label>
        <input type="text" id="filter_produtos" class="form-control" placeholder="Começe a digitar...">
        <br>
        <label>Selecione o produto:</label>
        <div class="produtos-container">
            <!-- Quadrados de produtos gerados dinamicamente -->
            {% for produto in produtos %}
                {% if produto.quantidade > 0 %}
                    <div class="produto-card" 
                        data-label="{{ produto.label }}" 
                        data-preco="{{ produto.preco_venda|floatformat:2 }}" 
                        data-peso="{{ produto.peso|floatformat:3 }}">
                        <!-- <img src=" {{ produto.img_url }} " alt="{{ produto.nome_produto }}" class="produto-imagem"> -->
                        <h5>{{ produto.label }}</h5>
                        <p>Preço R$ {{ produto.preco_venda|floatformat:2 }} <br>
                            Qtd Restante: {{ produto.quantidade }}<br>
                            Peso: {{ produto.peso|floatformat:3 }} {{ produto.tipo_peso }}
                        </p>
                        <div class="quantity-selector-venda">
                            <button type="button" class="decrease">&#8249;</button>
                            <input type="text" class="quantity" value="1" readonly>
                            <button type="button" class="increase">&#8250;</button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <label>Peso Total:</label>
        <span id="peso_total">0.000 KG/ML</span>
        <br>
        <label>Preço Total:</label>
        <span id="preco_total">R$ 0,00</span>
        <br>
        <label>Forma de Pagamento:</label>
        <select required class="form-control" name="forma_venda" id="forma_venda">
            <option selected value="Dinheiro">Dinheiro</option>
            <option value="Pix">Pix</option>
            <option value="Crédito">Crédito</option>
            <option value="Débito">Débito</option>
        </select>
        <br>
        <input type="hidden" name="preco_total" id="preco_total_input" value="0">
        <input type="hidden" name="peso_total" id="peso_total_input" value="0">
        <input type="hidden" name="produtos_selecionados" id="produtos_selecionados_input" value="">
        <input type="submit" name="CadAulas" id="CadAulas" disabled value="Vender" class="btn btn-primary">
    </form>
</div>
{% endblock %}



{% block scripts %}
<script>

    $(document).ready(function(){
        $('#preco_min').mask('000,00', {reverse: true})
        $('#preco_max').mask('000,00', {reverse: true})
        $('#nome_cliente').on('input', function() { // só está sendo permitido letras minusculas e espaços
            var value = $(this).val();
            var newValue = value.toLowerCase().replace(/[^a-z\s]/ig, ''); // Remove caracteres não permitidos

            if (newValue.length > 30) {
                newValue = newValue.substring(0, 30); // Limita o tamanho a 30 caracteres
            }
            
            if (value !== newValue) {
                $(this).val(newValue);
            }
        });
    });
</script>
{% endblock %}