{% extends 'base.html' %}
{% load static%}

{% block 'body' %}
    <div class="container">
        <h1>Venda do Produto: {{nome_produto}}</h1>
        <h3>Data da venda: {{data_criacao}}</h3>
        <label>Nome do Cliente:</label>
        <input class="form-control" value="{{nome_cliente}}" disabled=True>
        <br>
        <label>Quantidade Vendida:</label>
        <input class="form-control" value="{{quantidade_venda}}" disabled=True>
        <br>
        <label>Preço Compra:</label>
        <input class="form-control" value="{{preco_compra}}" disabled=True>
        <br>
        <label>Preço Venda:</label>
        <input class="form-control" value="{{preco_venda}}" disabled=True>
        <br>
        <label>Forma de Pagamento:</label>
        <input class="form-control" value="{{forma_venda}}" disabled=True>
        <br>
        <label>Código do Produto:</label>
        <input class="form-control" value="{{cod_produto}}" disabled=True>
        <br>
        <label>Vendido por:</label>
        <input class="form-control" value="{{vendido_por}}" disabled=True>
        <br>
        <a href="{% url 'consultar_vendas_finalizadas' slug_venda %}" class="btn btn-primary">Voltar</a>
    </div>
{% endblock %}