{% extends 'base.html' %}

{% block 'body' %}
  <h2>Alterar Senha</h2>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

    <a class="btn btn-info" style="color: white;" href="{% url 'login' %}" class="btnbtn-primary">Voltar</a>
    <button type="submit" class="btn btn-success">Alterar Senha</button>
  </form>
{% endblock %}


