{% extends 'base.html' %}

{% block 'body' %}
    <h1>Esqueceu a Senha?</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="email">E-mail:</label>
            <input id="email" type="email" name="email">
            <br>
            <label>Ou</label>
            <br>
            <label for="username">Nome de Usuário:</label>
            <input id="username" type="text" placeholder="Exemplo: nome.usuario" name="username">
        </div>
        <a class="btn btn-info" style="color: white;" href="{% url 'login' %}" class="btnbtn-primary">Voltar</a>
        <button class="btn btn-success" type="submit">Enviar</button>
    </form>
{% endblock %}